* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: "Lato", "Arial", sans-serif;
}

html {
    background-color: #fff;
    color: #555555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    word-spacing: 3px;
    text-rendering: optimizeLegibility;
}

.logo {
	margin: 20px auto 20px auto;
        height: auto;
	width: 150px;
	display: block;		
}

h3 {
	margin: 20px 0 5px 0 ;
	letter-spacing: 1px;
	word-spacing: 4px;	
}

.intro {
        margin-top: 20px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#search {
	display: inline-block;
	padding: 10px 30px;
	border: 1px solid #999;
	margin: 20px 0 10px 0;
}
/*========================================================================================*/
/*===== Results table goes here (search.php)======*/
/*========================================================================================*/

.error {
	top: 5px;
	left: 5px;
	position: fixed;
	font-weight: bold;
	font-size: 25px;
}

table, td, th {
	margin: auto;
	margin-top: 50px;
	text-align: left;
}

td {
	padding: 15px;
	font-weight: 500;
}

tr:nth-child(even) {
	background-color: #d6d6d6;
}

#results tr:hover {
	background-color: #74af76;
}

th {
	background-color: #4CAf50;
	color: white;
	padding: 5px;
}

.back-button {
    position: fixed;
    top: 5px;
    right: 0;
    width: 200px;
    height: 20px;
    padding: 3px;
    border: 2px solid #4caf50;
    background: #f4f4f4;
    text-align: center;
}

.total {
	position: fixed;
	top: 40px;
	right: 0;
	width: 200px;
	height: 20px;
	padding: 3px;
	border: 2px solid #4caf50;
	background: #f4f4f4;
	text-align: center;
	font-weight: bold;
}
