body {
  background-color: #eee;
}

*[role="form"] {
  background-color: #fff;
  max-width: 980px;
  margin: 0 auto;
  padding: 15px;
  border-radius: .3em;
}

/*
#section {
  border-style: solid;
  border-color: blueviolet;
}
*/

legend {
  border-style: hidden;
  border-width: 1px;
  border-radius: .1em;
  border-color: #7f8c8d;
  padding: 10px;
  background-color: #ecf0f1;
}